* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 75%;
}
h1 {
  text-align: center;
}
h2 {
  margin-top: 30px;
}
p { 
  font-size: 3rem;
}
#game-window {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 65vh;
}
#player-window {
  flex-basis: 33%;
  text-align: center;
  border: 1px solid black;
}
#computer-window {
  flex-basis: 33%;
  text-align: center;
  border: 1px solid black;
}
#game-result {
  flex-basis: 33%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#player-choice {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.item {
  margin: 0 15px;
  border: 1px solid black;
  width: 125px;
}
