body,html {
    height: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
}
.game-container {
    width: 1000px;
    height: 500px;
    margin: 10% auto;
    border: 1px solid black;
    position: relative;
}
#player {
    width: 25px;
    height: 25px;
    background-color: rebeccapurple;
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 250px;
    right: 0;
}