body,html { 
    height: 100%;
}
h1 { 
    font-size: 1.25rem;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    bottom: 30px;
}
p {
    font-size: 1rem;
    margin: 0 12px 12px 12px;
}
body { 
    margin: 0;
    box-sizing: border-box;
    background-color: #f8edeb;
}
img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 0 0 12px;
}
#goTopButton {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#e62739;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
}
#goTopButton {
background-color: #cc2333;
}
.container {
    flex-direction: column;
    display: flex;
    margin: 20px auto;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header { 
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}

.comment-element { 
    width: 100%;
    margin: 10px 0;
}
.delete-button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    margin-left: 12px;
}
.delete-button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.delete-button:active {
	position:relative;
	top:1px;
}
#comment-input { 
    flex-grow: 12;
    border-radius: 3%;
    margin-left: 20px;
    height: 40px;
}
#submit-button {
	background:linear-gradient(to bottom, #9649CB 5%, #7F0799 100%);
	background-color:#9649CB;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	font-weight:bold;
	padding:6.5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9649CB;
    flex-grow: 1;
    text-align: center;
    margin: 0 20px 0 20px;
}
#submit-button:hover {
	background:linear-gradient(to bottom, #7F0799 5%, #7F0799 100%);
}
#submit-button:active {
	position:relative;
	top:1px;
}
#comments { 
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 764px) {
    .container {
       width: 800px; 
       margin: 50px auto;
    }
    h1 { 
        font-size: 1.5rem;
    }
    p {
    margin: 0 20px 12px 20px;
    }
    img {
        margin-left: 20px;
    }
    #submit-button { 
        margin: 10px 40px 0 40px ;
        padding:13px 32px;
    }
    #comment-input { 
        margin: 10px 0 0 40px;
    }
    .delete-button { 
        margin-left:20px;
    }
}